<form 
    #f="ngForm" 
    (ngSubmit)="onSubmit(f)" 
    class="needs-validation novalidate"
>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input 
            type="text" 
            class="form-control" 
            id="nome" 
            placeholder="Nome" 
            name="nome" 
            required
            [ngClass]="aplicaCssErro(nome)"
            ngModel
            #nome="ngModel"
        >
        <div class="invalid-feedback">
            Nome é obrigatório.
        </div>
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input 
            type="email" 
            class="form-control"
            id="email" 
            placeholder="nome@email.com" 
            name="email" 
            required
            [ngClass]="aplicaCssErro(email)"
            ngModel
            #email="ngModel"
        >
        <div class="invalid-feedback">
            E-mail é obrigatório.
        </div>
    </div>

    <div ngModelGroup="endereco">

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="cep">CEP</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="cep"
                    required
                    name="cep"
                    [ngClass]="aplicaCssErro(cep)"
                    ngModel
                    #cep="ngModel"
                    (blur)="consultaCEP($event.target.value, f)"
                >
                <div class="invalid-feedback">
                    CEP é obrigatório.
                </div>                
            </div>

            <div class="form-group col-md-3">
                <label for="numero">Número</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="numero"
                    required
                    name="numero"
                    [ngClass]="aplicaCssErro(numero)"
                    ngModel
                    #numero="ngModel"
                >
                <div class="invalid-feedback">
                    Número é obrigatório.
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="complemento">Complemento</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="complemento"
                    name="complemento"
                    ngModel
                    #complemento="ngModel"
                >
            </div>
        </div>

        <div class="form-group">
            <label for="rua">Rua</label>
            <input 
                type="text" 
                class="form-control" 
                id="rua" 
                name="rua" 
                required
                readonly
                ngModel
                #rua="ngModel"
            >
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="bairro">Bairro</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="bairro"
                    name="bairro"
                    required
                    readonly
                    ngModel
                    #bairro="ngModel"
                >
            </div>

            <div class="form-group col-md-4">
                <label for="cidade">Cidade</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="cidade"
                    name="cidade"
                    required
                    readonly
                    ngModel
                    #cidade="ngModel"
                >
            </div>

            <div class="form-group col-md-3">
                <label for="estado">Estado</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="estado"
                    name="estado"
                    required
                    readonly
                    ngModel
                    #estado="ngModel"
                >
            </div>
        </div>

    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>

    <app-form-debug [form]="f"></app-form-debug>
</form>