<form 
    #f="ngForm" 
    (ngSubmit)="onSubmit(f)" 
    class="needs-validation"
    [class.was-validated]="!nome.valid && nome.touched && !email.valid && email.touched"
>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input 
            type="text" 
            class="form-control" 
            [class.is-invalid]="!nome.valid && nome.touched"
            id="nome" 
            placeholder="Nome" 
            name="nome" 
            [ngModel]="usuario.nome" 
            required
            #nome="ngModel"
        >
        <div
            [class.invalid-feedback]="!nome.valid && nome.touched"
            *ngIf="!nome.valid && nome.touched"
        >
            Nome é obrigatório.
        </div>
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input 
            type="email" 
            class="form-control"
            id="email" 
            placeholder="nome@email.com" 
            [class.is-invalid]="!email.valid && email.touched"
            name="email" 
            [ngModel]="usuario.email"
            required
            #email="ngModel"
        >
        <div
            [class.invalid-feedback]="!email.valid && email.touched"
            *ngIf="!email.valid && email.touched"
        >
            E-mail é obrigatório.
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="cep">CEP</label>
            <input 
                type="number" 
                class="form-control" 
                id="cep"
                required
                name="cep"
                [class.is-invalid]="!cep.valid && cep.touched"
                [ngModel]="usuario.cep"
                #cep="ngModel"
            >
            <div
                [class.invalid-feedback]="!cep.valid && cep.touched"
                *ngIf="!cep.valid && cep.touched"
            >
                CEP é obrigatório.
            </div>
        </div>

        <div class="form-group col-md-3">
            <label for="numero">Número</label>
            <input 
                type="number" 
                class="form-control" 
                id="numero"
                required
                name="numero"
                [class.is-invalid]="!numero.valid && numero.touched"
                [ngModel]="usuario.numero"
                #numero="ngModel"
            >
            <div
                [class.invalid-feedback]="!numero.valid && numero.touched"
                *ngIf="!numero.valid && numero.touched"
            >
                Número é obrigatório.
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="complemento">Complemento</label>
            <input 
                type="text" 
                class="form-control" 
                id="complemento"
                name="complemento"
                [ngModel]="usuario.complemento"
                #complemento="ngModel"
            >
        </div>
    </div>

    <div class="form-group">
        <label for="rua">Rua</label>
        <input 
            type="text" 
            class="form-control" 
            id="rua" 
            name="rua" 
            required
            readonly
            [ngModel]="usuario.rua" 
            #rua="ngModel"
        >
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="bairro">Bairro</label>
            <input 
                type="text" 
                class="form-control" 
                id="bairro"
                name="bairro"
                required
                readonly
                [ngModel]="usuario.bairro"
                #bairro="ngModel"
            >
        </div>

        <div class="form-group col-md-4">
            <label for="cidade">Cidade</label>
            <input 
                type="text" 
                class="form-control" 
                id="cidade"
                name="cidade"
                required
                readonly
                [ngModel]="usuario.cidade"
                #cidade="ngModel"
            >
        </div>

        <div class="form-group col-md-3">
            <label for="estado">Estado</label>
            <input 
                type="text" 
                class="form-control" 
                id="estado"
                name="estado"
                required
                readonly
                [ngModel]="usuario.estado"
                #estado="ngModel"
            >
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>

    <app-form-debug [form]="f"></app-form-debug>
</form>