<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input 
            type="text" 
            formControlName="nome" 
            id="nome" 
            placeholder="Nome" 
            class="form-control"
            [ngClass]="aplicaCssErro('nome')"
        >
        <div class="invalid-feedback">
            Nome é obrigatório.
        </div>
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input 
            type="email" 
            formControlName="email" 
            id="email" 
            placeholder="nome@email.com" 
            class="form-control"
            [ngClass]="aplicaCssErro('email')"
        >
        <div class="invalid-feedback" *ngIf="campoObrigatorioInvalido('email')">
            E-mail é obrigatório.
        </div>
        <div class="invalid-feedback" *ngIf="emailInvalido()">
            E-mail inválido.
        </div>
    </div>

    <div formGroupName="endereco">

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="cep">CEP</label>
                <input 
                    type="text" 
                    id="cep"
                    class="form-control" 
                    [ngClass]="aplicaCssErro('endereco.cep')"
                    formControlName="cep" 
                    (blur)="consultaCEP()"
                >
                <div class="invalid-feedback" *ngIf="campoObrigatorioInvalido('endereco.cep')">
                    CEP é obrigatório.
                </div>
                <div class="invalid-feedback" *ngIf="formulario.get('endereco.cep').hasError('cepInvalido')">
                    CEP inválido.
                </div>
            </div>

            <div class="form-group col-md-3">
                <label for="numero">Número</label>
                <input 
                    type="text" 
                    id="numero"
                    class="form-control" 
                    [ngClass]="aplicaCssErro('endereco.numero')"
                    formControlName="numero" 
                >
                <div class="invalid-feedback">
                    Número é obrigatório.
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="complemento">Complemento</label>
                <input 
                    type="text" 
                    id="complemento"
                    class="form-control" 
                    formControlName="complemento" 
                >
            </div>
        </div>

        <div class="form-group">
            <label for="rua">Rua</label>
            <input 
                type="text" 
                id="rua" 
                class="form-control"
                [ngClass]="aplicaCssErro('endereco.rua')"
                formControlName="rua" 
            >
            <div class="invalid-feedback">
                Rua é obrigatório.
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="bairro">Bairro</label>
                <input 
                    type="text" 
                    id="bairro"
                    class="form-control" 
                    [ngClass]="aplicaCssErro('endereco.bairro')"
                    formControlName="bairro" 
                >
                <div class="invalid-feedback">
                    Bairro é obrigatório.
                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="cidade">Cidade</label>
                <input 
                    type="text" 
                    id="cidade"
                    class="form-control" 
                    name="cidade"
                    [ngClass]="aplicaCssErro('endereco.cidade')"
                    formControlName="cidade" 
                >
                <div class="invalid-feedback">
                    Cidade é obrigatório.
                </div>
            </div>

            <div class="form-group col-md-3">
                <label for="estado">Estado</label>
                <select 
                    type="text" 
                    id="estado"
                    class="form-control" 
                    [ngClass]="aplicaCssErro('endereco.estado')"
                    formControlName="estado" 
                >
                    <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
                </select>
                <div class="invalid-feedback">
                    Estado é obrigatório.
                </div>
            </div>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="cargo">Cargo</label>
            <select 
                type="text" 
                id="cargo"
                class="form-control" 
                formControlName="cargo" 
                [compareWith]="compararCargos"
            >
                <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="tecnologias">Tecnologias</label>
            <select 
                type="text" 
                id="tecnologias"
                class="form-control" 
                formControlName="tecnologias" 
                multiple
            >
                <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label for="newsletter">Newsletter</label>
            <div id="newsletter">
                <div class="form-check form-check-inline" *ngFor="let item of newsletterOp">
                    <input class="form-check-input" [id]="item.valor" type="radio" [value]="item.valor" formControlName="newsletter">
                    <label class="form-check-label" [for]="item.valor">{{ item.desc }}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="termos" formControlName="termos" [ngClass]="aplicaCssErro('termos')">
                <label class="form-check-label" for="termos">
                    Aceito os termos.
                </label>
                <div class="invalid-feedback">
                    Por favor, aceite os termos.
                </div>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="frameworks">Frameworks</label>
            <div id="frameworks">
                <div 
                    class="form-check form-check-inline" 
                    formArrayName="frameworks"
                    *ngFor="let item of formulario.get('frameworks')['controls']; let i = index"
                >
                    <input class="form-check-input" [id]="i" type="checkbox" [value]="i" [formControlName]="i" [ngClass]="aplicaCssErro('frameworks')">
                    <label class="form-check-label" [for]="i">{{ frameworks[i] }}</label>
                    <div class="invalid-feedback">
                        Selecione uma opção.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn btn-default" (click)="resetar()">Cancelar</button>
    <button class="btn btn-info" (click)="setarCargo()">Cargo</button>
    <button class="btn btn-info" (click)="setarTecnologias()">Tecnologias</button>

    <app-form-debug [form]="formulario"></app-form-debug>
</form>