<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item" [class.active]="aba == 'home'" (click)="aba = 'home'">
      <a class="nav-link">Home</a>
    </li>
    <li class="nav-item" [class.active]="aba == 'mapa'" (click)="aba = 'mapa'">
      <a class="nav-link">Mapa</a>
    </li>
    <li class="nav-item" [class.active]="aba == 'lista'" (click)="aba = 'lista'">
      <a class="nav-link">Lista</a>
    </li>
  </ul>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'mapa'">Modo Mapa ativado</p>
  <p *ngSwitchCase="'lista'">Modo Lista ativado</p>
  <p *ngSwitchDefault>Home</p>
</div>